/*/*
 * Large
 */
@media only screen and (min-width: 768px) and (max-width: 989px) {

}

/*
 * Medium
 */
@media only screen and (min-width: 481px) and (max-width: 767px) {
}

/*
 * Small
 */
@media only screen and (max-width: 480px) {
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)         and (max-width: 767px),
only screen and (   min--moz-device-pixel-ratio: 2)         and (max-width: 767px),
only screen and (     -o-min-device-pixel-ratio: 2/1)       and (max-width: 767px),
only screen and (        min-device-pixel-ratio: 2)         and (max-width: 767px),
only screen and (                min-resolution: 192dpi)    and (max-width: 767px),
only screen and (                min-resolution: 2dppx)     and (max-width: 767px) {

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)         and (max-width: 480px),
only screen and (   min--moz-device-pixel-ratio: 2)         and (max-width: 480px),
only screen and (     -o-min-device-pixel-ratio: 2/1)       and (max-width: 480px),
only screen and (        min-device-pixel-ratio: 2)         and (max-width: 480px),
only screen and (                min-resolution: 192dpi)    and (max-width: 480px),
only screen and (                min-resolution: 2dppx)     and (max-width: 480px) {


}