@for $i from 1 through 9 {

	.bkg#{$i} {
		background: url('img/bkg#{$i}.png') no-repeat;
	}

}

@media screen and (max-width: 1000px) {

	@for $i from 1 through 9 {

			.bkg#{$i} {
				background: url('img/bkg#{$i}-1000.png') no-repeat;
			}

	}

}

@for $i from 1 through 10 {

	$bkg_postion_class: $i * 10;

	.bkg--position-#{$bkg_postion_class} {
		background-position: 50% $i * 10%;
	}

}