.main-footer {
	padding: 30px 0;
	background: #333;
	color: #999;
}

.main-footer__navigation {

}

.main-footer__copyright {

}

.main-footer input[type="text"],
.main-footer input[type="email"] {
    background: #666;
    color: #fff;
    border: none;
}

.secondary-footer {
	padding: 30px 0;	
	background: #000;
    color: #999;	
}

.secondary-footer a {
  	color: inherit;
}

.footer-navigation {

}

.footer-navigation ul {
    list-style: none;
    margin: 0;
}

.footer-navigation ul li {
    display: inline-block;    
    margin: 0 0 0 20px;
}

.footer-navigation ul li:first-child {
    margin-left: 0;
}