/*
 * These are styled from the classes in the <svg> in functions.php
 */
.svg-logo {
	height: 70px;
	margin-top: 5px;
	margin-right: 14px;
}

.svg-logo-fixed {
	height: 34px;
	margin-top: 2px
}

.svg-logo-text {
	height: 70px;
	margin-top: 5px;	
}

@media screen and (max-width: 767px) {

	.svg-logo {
        width: 36px;
        height: 34px;
        margin-top: 5px;
		margin-right: 0;
	}

}