.content-main {

}

.content-summary {
	margin-bottom: 20px;
}

.content-summary__more-link {

}

.service_image {
	max-width: 240px;	
	margin: 0 auto 20px auto;
	-webkit-animation: malinky-fade-in 0.15s linear 0.15s backwards;
	animation: malinky-fade-in 0.15s linear 0.15s backwards;
}

.service_image__circle {
	border-radius: 120px;
}