/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Overwrite line-height: normal previously set on input;
 * 3. Addresses margins set differently in IE6/7, F3/4, S5, Chrome.
 * 4. Manually set padding to overwrite user stylesheets.
 * 5. Improves usability and consistency of cursor style between image-type 'input' and others.
 * 6. Corrects inability to style clickable 'input' types in iOS.
 */
input[type="button"],
input[type="reset"],
input[type="submit"],
button,
.button {
    display: inline-block;
    text-align: center;
    vertical-align: middle;   
    color: $button-text-color;
    background: $button-background-color;
    border: none;
  	font-size: 100%; /* 1 */
  	line-height: 1.3; /* 2 */
  	margin: 0 0 21px 0; /* 3 */
  	padding: 8px; /* 4 */
    cursor: pointer; /* 5 */
    -webkit-appearance: button; /* 6 */
}

/*
 * Style a.button links back to normal. See rule 6 above.
 */
.button {
    -webkit-appearance: none;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:visited,
input[type="reset"]:visited,
input[type="submit"]:visited,
button:visited,
.button:visited {
    background: $button-background-color;
    color: $button-text-color;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:hover,
.button:hover {
    background: $button-background-color-hover;
    text-decoration: none;
    cursor: pointer;
    color: $button-text-color;
}

/*
 * Color used to ensure link style in button. Example when used with <a class="button">.
 */
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:focus,
.button:focus,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
button:active,
.button:active {
    background: $button-background-color-hover;
    text-decoration: none;
    cursor: pointer;
    color: $button-text-color;
    outline: none;
}

button.full-width,
.button.full-width {
    width: 100%
}

.round-button {
    border-radius: 2px;
}

input[type="button"].bevelled-button,
input[type="reset"].bevelled-button,
input[type="submit"].bevelled-button,
button.bevelled-button,
.button.bevelled-button
{
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
    color: inherit;
}

input[type="button"]:hover.bevelled-button,
input[type="reset"]:hover.bevelled-button,
input[type="submit"]:hover.bevelled-button,
button:hover.bevelled-button,
.button:hover.bevelled-button
{
    border-color: #ccc #bbb #aaa;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}

input[type="button"]:focus.bevelled-button,
input[type="reset"]:focus.bevelled-button,
input[type="submit"]:focus.bevelled-button,
button:focus.bevelled-button,
.button:focus.bevelled-button,
input[type="button"]:active.bevelled-button,
input[type="reset"]:active.bevelled-button,
input[type="submit"]:active.bevelled-button,
button:active.bevelled-button,
.button:active.bevelled-button {
    border-color: #aaa #bbb #bbb;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
    outline: none;
}

/*
 * Specific to Wordpress Search widget
 */
input[type="search"].search-field {
    display: block;
    width: auto;
    max-width: none;
    padding: 8px;
    border-radius: 3px 0 0 3px;
    border-top: 1px solid $border-color;
    border-right: none;
    border-bottom: 1px solid $border-color;
    border-left: 1px solid $border-color;   
}

.search-submit {
    position: relative;
    top: -1px;
    left: -4px;
    border-radius: 0 3px 3px 0;
}

input[type="submit"].search-submit {
    margin: 0;
}