/* Chrome, Opera > 12.1, Opera Mobile >= 24, Safari  */
@-webkit-keyframes malinky-fade-in {
    from {
        opacity: 0; 
    }
    to   {
        opacity: 1;
    }
}

/* Firefox > 15 */
@-moz-keyframes malinky-fade-in {
    from {
    	opacity: 0; 
    }
    to   {
    	opacity: 1;
    }
}

@keyframes malinky-fade-in {
    from {
    	opacity: 0; 
    }
    to   {
    	opacity: 1;
    }
}