a,
a:visited {
    color: $link-color;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: $link-color-hover;
    text-decoration: underline;
}

.back-top {
    position: fixed;
    right: 30px;
    bottom: 60px;
    font-size: 5em; /* 70/14 */
    text-decoration: none;
    cursor: pointer;
    z-index: 9998;
    color: $back-to-top-color;
} 

.back-top:hover {
    text-decoration: none;
    color: $back-to-top-color-hover;
}