/*
 * Used for fixed .main-navigation (not mobile).
 * 1. Hide off screen set to same as height.
 * .wrap-full--Modifier.
 */
.wrap-full--full-fixed {
    position: fixed;
    height: $navigation-fixed-height; /* 1 */    
    top: -$navigation-fixed-height; /* 1 */
    z-index: 9999;
}

/*
 * Class added via js to slide in fixed .main-navigation (not mobile).
 * .wrap-full--Modifier--Modifier.
 */
.wrap-full--full-fixed--js-show {
    top: 0;
    -webkit-transition: top 0.5s;
    transition: top 0.5s;
}

/*
 * Holder for main navigation.
 */
.main-navigation-bar {
    font-family: $navigation-font-family;
    font-size: $navigation-font-size;  
    margin-bottom: $navigation-margin-bottom;  
}

/*
 * Add color or image to full width background.
 * .main-navigation-bar--Modifier. 
 */
.main-navigation-bar--bkg {
    background: $navigation-bar-background-color;
}

/*
 * 1. Set to height of navigation.
 * 2. Set line-height of navigation for vertical centre.
*/
.main-navigation {
    position: relative;
    height: $navigation-height;
    line-height: $navigation-height;
    /*border-bottom: 2px solid #666;*/
}

/*
 * Applied to <nav> .main-navigation for a fixed main-navigation (not on mobile).
 * Overwrite any unwanted styles from .main-navigation as this is a Modifier..
 * .main-navigation--Modifier.
 */
.main-navigation--fixed {
    height: $navigation-fixed-height;
    line-height: $navigation-fixed-height;
    border: none;
}

/*
 * All Levels.
 */
.main-navigation ul {
    list-style: none;
    margin: 0;
}

/*
 * All Levels.
 * 1. Nudge hover down to bottom border.
 */
.main-navigation ul li {
    display: inline-block;    
    margin: 0 0 0 20px;
    padding-bottom: $navigation-dropdown-nudge; /* 1 */
}

@media screen and (max-width: 880px) {

    .main-navigation ul li {
        margin: 0 0 0 15px;

    }

}

@media screen and (max-width: 835px) {

    .main-navigation ul li {
        margin: 0 0 0 10px;

    }

}

@media screen and (max-width: 805px) {

    .main-navigation ul li {
        margin: 0 0 0 6px;

    }

}

/*
 * All Levels.
 */
.main-navigation ul li:first-child {
    margin-left: 0;
}

/*
 * All Levels.
 * Main navigation link style.
 * 1. Nudge hover down to bottom border.
 */
.main-navigation ul li a:link,
.main-navigation ul li a:visited
{
    color: $navigation-link-color;
    padding-bottom: $navigation-dropdown-nudge; /* 1 */
}

/*
 * All Levels.
 * Main navigation hover style.
 */
.main-navigation ul li a:hover {
    color: $navigation-link-color-hover;
    text-decoration: underline;
}

/*
 * Second and Third Level.
 * This makes the dropdown boxed in.
 * 1. Top margin needs settings to -ve value of border-bottom in .main-navigation if set.
 * Can also set to -ve as below to merge dropdown into main nav.
 * 2. Reset from .main-navigation.
 */
.main-navigation ul ul {
    display: none;
    position: absolute;
    z-index: 999;
    background: $navigation-dropdown-background-color;
    border: $navigation-dropdown-border;
    margin: -2px 0 0 0; /* 1 */
    padding: 15px 0 0 15px;
    line-height: initial; /* 2 */   
}

/*
 * Second and Third Level Show.
 */
.main-navigation ul li:hover > ul {
    display: block;
}

/*
 * Second and Third Level.
 */
.main-navigation ul ul li
{
    display: block;
    white-space: nowrap;
    margin: 0;
    padding: 0 15px 15px 0;
    text-align: left;
}

/*
 * Third Level Position.
 */
.main-navigation ul ul ul
{
    top: 0;
    left: 100%;
    margin-top: -2px;
}

/*
 * Second and Third Level.
 * Overide .main-navigation link style.
 */
.main-navigation ul ul a:link,
.main-navigation ul ul a:visited {
    color: $navigation-dropdown-link-color;
}

/*
 * Second and Third Level.
 * Overide .main-navigation hover style.
 */
.main-navigation ul ul a:hover {
    color: $navigation-dropdown-link-color-hover;
}