hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $border-color;
  margin-bottom: 1em;
  padding: 0;
}

hr.double {
    border-top: 2px solid $border-color;
}

ul,
ol {
    margin: 0 0 21px 1.5em;
}

ul {
    list-style: disc;
}

ol {
    list-style: decimal;
}

li {
    margin-bottom: 0.5em;
}

li > ul,
li > ol {
    margin-top: 0.5em;
    margin-bottom: 0;
}

dt {
    font-weight: bold;
}

dd {
    margin: 0 0 21px 3em;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

img.non-responsive {
    max-width: none;
} 

figure {
    margin: 0;
}

table {
    margin: 0 0 21px 0;
    width: 100%;
}

th {
    text-align: left;
}