h1,
h2,
h3,
h4,
h5,
h6 {
  	font-weight: normal;
    margin-bottom: 21px;
}

h1,
.heading-1 {
    font-size: 2em; /* 28/14 */
}

h2,
.heading-2 {
    font-size: 1.714286em; /* 24/14 */
}

h3,
.heading-3 {
    font-size: 1.428571em; /* 20/14 */
}

h4,
.heading-4 {
    font-size: 1.285714em; /* 18/14 */
}

h5,
.heading-5 {
    font-size: 1.142857em; /* 16/14 */
}

h6,
.heading-6 {
    font-size: 1em; /* 14/14 */
}

p {
    margin-bottom: 21px;
}

.no-margin {
    margin: 0;
}

b,
strong {
    font-weight: bold;
}

.bold-text {
    font-weight: bold;
}

.italic-text {
    font-style: italic;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

cite {
    margin: 0 1.5em;
}

q {
    font-style: italic;
    quotes: "“" "”" "‘" "’";
}

q:before {
    content: open-quote;
}

q:after {
    content: close-quote;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 21px 0;
}

pre {
    background: #eee;
    font-family: "Courier 10 Pitch", Courier, monospace;
    font-size: 1.142857em; /* 16/14 */
    line-height: 1.6;
    margin-bottom: 21px;
    max-width: 100%;
    overflow: auto;
    padding: 1.6em;
}

code,
kbd,
tt,
var {
    font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 0.857143em; /* 12/14 */
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 0.857143em; /* 12/14 */
}

big {
    font-size: 1.285714em; /* 12/14 */
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.text-white {
    color: #fff;
}