@font-face {
    font-family: 'avenirregular';
    src: url('fonts/12_avenir_65_medium___06173-webfont.eot');
    src: url('fonts/12_avenir_65_medium___06173-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/12_avenir_65_medium___06173-webfont.svg#avenirregular') format('svg'),
         url('fonts/12_avenir_65_medium___06173-webfont.woff2') format('woff2'),
         url('fonts/12_avenir_65_medium___06173-webfont.woff') format('woff'),
         url('fonts/12_avenir_65_medium___06173-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

$font-family: 'avenirregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$text-color: #666;

$link-color: #c83e7a;
$link-color-hover: #c83e7a;

/*
 * Main and fixed navigation.
 * 1. Nudge content below navigation. Also used to nudge mobile navigation in _wrap.scss.
 * 2. Should be more scrollTop in main.js (80px).
 */
$navigation-margin-bottom: 0; /* 1 */
$navigation-height: 80px; /* 2 */
$navigation-fixed-height: 41px;
$navigation-bar-background-color: #000;
$navigation-link-color: #fff;
$navigation-link-color-hover: #fff;
$navigation-font-family: 'avenirregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navigation-font-size: 1.142857em; /* 16/14 */

/*
 * Dropdown navigation.
 */
$navigation-dropdown-nudge: 7px;
$navigation-dropdown-background-color: #000;
$navigation-dropdown-border: none;
$navigation-dropdown-link-color: #fff;
$navigation-dropdown-link-color-hover: #fff;

/*
 * Mobile navigation.
 * 1. Fixed mobile navigation bar .mobile-navigation-bar.
 * 2. Usually color of icon fonts on fixed mobile navigation bar. No hover as tends to be touch screen.
 * 3. Mobile navigation that slides in.
 * 4. Backgrounds of the links that slide in.
 * 5. Text color of the links that slide in.
 */
$navigation-mobile-height: 47px;
$navigation-mobile-bar-background-color: #000; /* 1 */
$navigation-mobile-bar-link-color: #fff; /* 2 */
$navigation-mobile-background-color: #000; /* 3 */
$navigation-mobile-link-background-color: #000; /* 4 */
$navigation-mobile-link-background-color-hover: #000; /* 4 */
$navigation-mobile-link-color: #fff; /* 5 */
$navigation-mobile-link-color-hover: #fff; /* 5 */
$navigation-mobile-font-family: 'avenirregular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navigation-mobile-font-size: 1em; /* 14/14 */
$navigation-mobile-seperator: 1px solid #fff;

$footer-background-color: #f47b20;
$footer-border: 5px solid #f47b20;

$button-background-color: #000;
$button-background-color-hover: #000;
$button-text-color: #fff;

$form-placeholder-color: #999;

$border-color: #e5e5e5;

$back-to-top-color: #000;
$back-to-top-color-hover: #000;