/*
 * Used for a full width block.
 */
.wrap-full {
    width: 100%;
    margin: 0 auto;
}

/*
 * Used for inner of full width block or standalone non full width block.
 */
.wrap {
    max-width: 990px;
    margin: 0 auto;
    padding: 0 5px; /* 1 */
}

 .wrap--padding {
 	padding: 60px 5px;
 }

/*
 * Add color or image to full width background.
 * .wrap--Modifier. 
 */
.wrap--bkg {

}

/*
 * Nudge content below fixed navigation.
 * Always added alongside .wrap (usually from <main>).
 */
@media screen and (max-width: 767px) {

    .wrap-mobile {
        margin-top: $navigation-mobile-height + $navigation-margin-bottom;
    }

}